In [1]:
import AGEpy as age
import copy
from gtfparse import read_gtf
import numpy as np
import pandas as pd

## Import data and format as a gtf file

In [2]:
#Read in gtf file and format necessary columns
genes_df = read_gtf("genes.gtf")
genes_df_frames = genes_df[genes_df["feature"] != "CDS"]
genes_df_frames["frame"] = "."
genes_df_cds = genes_df[genes_df["feature"] == "CDS"]
genes_df = pd.concat([genes_df_frames, genes_df_cds])
genes_df = genes_df.sort_values(by="seqname")
genes_df["score"] = "."
genes_df

/Users/sahil/anaconda3/envs/gtf_formatting/lib/python3.9/site-packages/gtfparse/read_gtf.py:151: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  result = parse_gtf(
/Users/sahil/anaconda3/envs/gtf_formatting/lib/python3.9/site-packages/gtfparse/read_gtf.py:151: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version.


  result = parse_gtf(
INFO:root:Extracted GTF attributes: ['gene_id', 'gene_name', 'transcript_id', 'tss_id', 'p_id']
/var/folders/8_/t_24z32d4_32jn404jwdwdfm0000gn/T/ipykernel_12721/4171810911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genes_df_frames["frame"] = "."

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_name,transcript_id,tss_id,p_id
0,chr1,unknown,exon,11874,12227,.,+,.,DDX11L1,DDX11L1,NR_046018,TSS14844,
75545,chr1,unknown,CDS,216497510,216497694,.,-,0,USH2A,USH2A,NM_206933,TSS27031,P4249
75548,chr1,unknown,CDS,216498647,216498941,.,-,1,USH2A,USH2A,NM_007123,TSS27031,P5706
75549,chr1,unknown,CDS,216498647,216498941,.,-,1,USH2A,USH2A,NM_206933,TSS27031,P4249
75552,chr1,unknown,CDS,216500933,216500996,.,-,2,USH2A,USH2A,NM_007123,TSS27031,P5706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
865010,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NR_047619,TSS25449,
865009,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NM_001258258,TSS25449,P8418
865008,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NR_047643,TSS25449,
865014,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NM_001258256,TSS25449,P29049
869199,chrY,unknown,CDS,59342487,59343077,.,+,0,IL9R,IL9R,NM_002186,TSS13438,P19376

In [3]:
#Filter for only exons
genes_df_cp = copy.deepcopy(genes_df)
genes_df_cp = genes_df_cp[genes_df_cp["feature"] == "exon"]
genes_df_cp

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_name,transcript_id,tss_id,p_id
0,chr1,unknown,exon,11874,12227,.,+,.,DDX11L1,DDX11L1,NR_046018,TSS14844,
78313,chr1,unknown,exon,228337415,228337708,.,+,.,GJC2,GJC2,NM_020435,TSS4470,P27430
78307,chr1,unknown,exon,228336366,228336655,.,+,.,GUK1,GUK1,NM_001242839,TSS23291,P24635
78314,chr1,unknown,exon,228345441,228347527,.,+,.,GJC2,GJC2,NM_020435,TSS4470,P27430
78306,chr1,unknown,exon,228336366,228336655,.,+,.,GUK1,GUK1,NM_001242840,TSS15089,P4110
...,...,...,...,...,...,...,...,...,...,...,...,...,...
865011,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NR_047622,TSS25449,
865010,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NR_047619,TSS25449,
865009,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NM_001258258,TSS25449,P8418
865008,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NR_047643,TSS25449,
865014,chrY,unknown,exon,15417918,15417992,.,-,.,UTY,UTY,NM_001258256,TSS25449,P29049

In [4]:
#Drop unnecessary columns
genes_df_cp = genes_df_cp.drop(columns=["seqname", "source", "score", "frame", "gene_name", "transcript_id", "tss_id", "p_id"])
genes_df_cp

       feature      start        end strand  gene_id
0         exon      11874      12227      +  DDX11L1
78313     exon  228337415  228337708      +     GJC2
78307     exon  228336366  228336655      +     GUK1
78314     exon  228345441  228347527      +     GJC2
78306     exon  228336366  228336655      +     GUK1
...        ...        ...        ...    ...      ...
865011    exon   15417918   15417992      -      UTY
865010    exon   15417918   15417992      -      UTY
865009    exon   15417918   15417992      -      UTY
865008    exon   15417918   15417992      -      UTY
865014    exon   15417918   15417992      -      UTY

[430178 rows x 5 columns]

### Since we have duplicate rows, we need to remove them

In [5]:
#Dropping duplicates and sorting data for visualization
genes_df_cp = genes_df_cp.drop_duplicates()
genes_df_cp.sort_values(by=["gene_id", "start"])

       feature     start       end strand gene_id
421189    exon  58858172  58858395      -    A1BG
421193    exon  58858719  58859006      -    A1BG
421195    exon  58861736  58862017      -    A1BG
421197    exon  58862757  58863053      -    A1BG
421200    exon  58863649  58863921      -    A1BG
...        ...       ...       ...    ...     ...
32957     exon  78097535  78099090      -    ZZZ3
32959     exon  78105134  78105287      -    ZZZ3
32960     exon  78107069  78107131      -    ZZZ3
32961     exon  78107207  78107340      -    ZZZ3
32962     exon  78148270  78148343      -    ZZZ3

[244314 rows x 5 columns]

In [6]:
#Just looking at a single gene's exons to double check
genes_df_cp[genes_df_cp["gene_id"] == "YTHDC1"].sort_values(by="start")

       feature     start       end strand gene_id
612673    exon      6027      9963      -  YTHDC1
612681    exon     11954     12088      -  YTHDC1
612685    exon     14159     14221      -  YTHDC1
612689    exon     14330     14369      -  YTHDC1
612693    exon     14466     14502      -  YTHDC1
612698    exon     15763     15845      -  YTHDC1
612702    exon     18389     18555      -  YTHDC1
612706    exon     19779     19863      -  YTHDC1
612709    exon     25642     25759      -  YTHDC1
612713    exon     25842     25950      -  YTHDC1
612717    exon     27743     27837      -  YTHDC1
612720    exon     28434     28487      -  YTHDC1
612723    exon     28948     29037      -  YTHDC1
612727    exon     32667     33090      -  YTHDC1
612732    exon     33212     33540      -  YTHDC1
612736    exon     33923     34024      -  YTHDC1
612739    exon     45366     45746      -  YTHDC1
592623    exon  69176105  69180041      -  YTHDC1
592631    exon  69182032  69182166      -  YTHDC1
592635    exon  69184237  69184299      -  YTHDC1
592639    exon  69184408  69184447      -  YTHDC1
592643    exon  69184544  69184580      -  YTHDC1
592647    exon  69185841  69185923      -  YTHDC1
592651    exon  69188467  69188633      -  YTHDC1
592655    exon  69189857  69189941      -  YTHDC1
592659    exon  69195720  69195837      -  YTHDC1
592663    exon  69195920  69196028      -  YTHDC1
592667    exon  69197821  69197915      -  YTHDC1
592670    exon  69198512  69198565      -  YTHDC1
592673    exon  69199026  69199115      -  YTHDC1
592677    exon  69202745  69203168      -  YTHDC1
592681    exon  69203290  69203618      -  YTHDC1
592686    exon  69204001  69204102      -  YTHDC1
592690    exon  69215444  69215824      -  YTHDC1

In [7]:
#Verify positive strands are there as well
genes_df_cp[genes_df_cp["strand"] == "+"].sort_values(by="gene_id")

       feature      start        end strand   gene_id
421198    exon   58863336   58864410      +  A1BG-AS1
421205    exon   58864745   58864840      +  A1BG-AS1
421212    exon   58865735   58866549      +  A1BG-AS1
421209    exon   58865080   58865223      +  A1BG-AS1
174269    exon    9218752    9220651      +   A2M-AS1
...        ...        ...        ...    ...       ...
762845    exon  143085860  143086038      +       ZYX
762829    exon  143079686  143079778      +       ZYX
762833    exon  143079894  143080415      +       ZYX
762837    exon  143085312  143085432      +       ZYX
762841    exon  143085582  143085751      +       ZYX

[123184 rows x 5 columns]

## Begin introns analysis

In [ ]:
#Obtain all unique genes
unique_genes = genes_df_cp["gene_id"].unique().tolist()
unique_genes.sort()
unique_genes

### Identify introns for every gene

In [ ]:
#This may take a few minutes
df_lst = []
gene_starts = genes_df[genes_df["feature"] == "start_codon"].reset_index().drop(columns=["index"])
gene_stops = genes_df[genes_df["feature"] == "stop_codon"].reset_index().drop(columns=["index"])

for gene in unique_genes:
    print(gene)
    one_gene_df = genes_df_cp[genes_df_cp["gene_id"] == gene].sort_values(by="start")
    
    if len(one_gene_df) > 1:
        adj_df = one_gene_df.sort_values(by=["gene_id", "start"]).drop(index=one_gene_df.index[0], axis=0, inplace=False)

        new_starts = adj_df["start"].to_list()
        if not gene_stops[gene_stops["gene_id"] == gene].empty and gene_stops[gene_stops["gene_id"] == gene]["start"].iloc[0] > max(one_gene_df["end"]):
            new_starts.append(gene_stops[gene_stops["gene_id"] == gene]["start"].iloc[0])
        else:
            one_gene_df.drop(one_gene_df.tail(1).index,inplace=True)

        one_gene_df["Next_exon_start"] = new_starts
        #Remove exons that have the same start and next exon start
        lowest_idx = one_gene_df.index[one_gene_df["start"] == one_gene_df.iloc[-1]["Next_exon_start"]].tolist()
        if len(lowest_idx) > 0:
            for i in lowest_idx:
                if one_gene_df.at[i, "start"] == one_gene_df.at[i, "Next_exon_start"]:
                    one_gene_df = one_gene_df.drop([i])
        
        if len(one_gene_df) > 0:
            #If the exon starting positions are the same for the last exons
            last_next_exon = one_gene_df.iloc[-1]["Next_exon_start"]
            last_exon_starts_lst = one_gene_df.index[one_gene_df["start"] == one_gene_df.iloc[-1]["start"]].tolist()
            if last_exon_starts_lst[-1] == one_gene_df.last_valid_index():
                last_exon_starts_lst.pop()
            if len(last_exon_starts_lst) > 0:
                for idx in last_exon_starts_lst:
                    one_gene_df.at[idx, "Next_exon_start"] = last_next_exon

            #one_gene_df["Intron_start"] = one_gene_df["Next_exon_start"] - abs(one_gene_df["end"] - one_gene_df["Next_exon_start"]) + 1 
            one_gene_df["Intron_start"] = one_gene_df["end"] + 1
            one_gene_df["Intron_stop"] = one_gene_df["Next_exon_start"] - 1
            one_gene_df = one_gene_df.reset_index().drop(columns=["index"])

            if not gene_starts[gene_starts["gene_id"] == gene]["start"].empty:
                if min(one_gene_df["start"]) != gene_starts[gene_starts["gene_id"] == gene]["start"].iloc[0] and gene_starts[gene_starts["gene_id"] == gene]["start"].iloc[0] < min(one_gene_df["start"]):
                    initial_intron_df = pd.DataFrame({"feature": ["intron"], "start": [np.nan], "end": [np.nan],
                                                      "strand": [one_gene_df["strand"].iloc[0]],
                                                      "gene_id": [gene], "Next_exon_start": [min(one_gene_df["start"])], 
                                                       "Intron_start": [gene_starts[gene_starts["gene_id"] == gene]["end"].iloc[0] + 1],
                                                      "Intron_stop": [min(one_gene_df["start"]) - 1]})
                    one_gene_df.append(initial_intron_df)

            #Deals with alternatively spliced exons
            grouped_df = one_gene_df.groupby("start").mean().reset_index()
            same_starts = (one_gene_df["start"] == one_gene_df["Next_exon_start"])
            same_starts_df = one_gene_df.loc[same_starts, ["start", "Next_exon_start"]]["start"]
            if len(same_starts_df) > 0:
                for current_start in list(set(same_starts_df.tolist())):
                    for i in one_gene_df.index[one_gene_df["start"] == current_start].tolist():
                        if not grouped_df.iloc[grouped_df.index[grouped_df['start'] == current_start].tolist()[0]].equals(grouped_df.iloc[-1]):
                            start_replace = grouped_df.iloc[grouped_df.index[grouped_df['start'] == current_start].tolist()[0] + 1]["start"]
                            one_gene_df.at[i, "Next_exon_start"] = start_replace
                            one_gene_df.at[i, "Intron_stop"] = one_gene_df.iloc[i]["Next_exon_start"] - 1

            df_lst.append(one_gene_df)
    else:
        if not gene_starts[gene_starts["gene_id"] == gene].empty:
            if one_gene_df["start"].iloc[0] != gene_starts[gene_starts["gene_id"] == gene]["start"].iloc[0] and gene_starts[gene_starts["gene_id"] == gene]["end"].iloc[0] < one_gene_df["start"].iloc[0]:
                initial_intron_df = pd.DataFrame({"feature": ["intron"], "start": [np.nan], "end": [np.nan],
                                              "strand": [one_gene_df["strand"].iloc[0]],
                                              "gene_id": [gene], "Next_exon_start": [min(one_gene_df["start"])], 
                                               "Intron_start": [gene_starts[gene_starts["gene_id"] == gene]["end"].iloc[0] + 1],
                                              "Intron_stop": [min(one_gene_df["start"]) - 1]})
                df_lst.append(initial_intron_df)
        if not gene_stops[gene_stops["gene_id"] == gene].empty:
            if one_gene_df["end"].iloc[0] != gene_stops[gene_stops["gene_id"] == gene]["end"].iloc[0] and gene_stops[gene_stops["gene_id"] == gene]["start"].iloc[0] > one_gene_df["end"].iloc[0]:
                initial_intron_df = pd.DataFrame({"feature": ["intron"], "start": [np.nan], "end": [np.nan],
                                                  "strand": [one_gene_df["strand"].iloc[0]],
                                                  "gene_id": [gene], "Next_exon_start": [gene_stops[gene_stops["gene_id"] == gene]["start"]].iloc[0], 
                                                   "Intron_start": [max(one_gene_df["start"]) + 1],
                                                  "Intron_stop": [gene_stops[gene_stops["gene_id"] == gene]["start"].iloc[0] - 1]})
                df_lst.append(initial_intron_df)
        
    
#Uncomment if introns are needed when end positions are the same######################################################
#    #Obtains duplicated end values
#     same_ends_df = one_gene_df.loc[one_gene_df[one_gene_df["gene_id"] == gene].duplicated(subset=["end"], keep=False)]
#     for unique_end in same_ends_df["end"].unique().tolist():
#         #Subset df for each same end position
#         tmp2 = one_gene_df[one_gene_df["end"] == unique_end]
#         #ID first instance of preceding value
#         preceding_row = one_gene_df.iloc[[tmp2.index[0] - 1]]
#         if 0 not in tmp2.index.tolist():
#             #Drop first because we already have it
#             tmp2.drop(tmp2.index[0], inplace=True)
#             #Add preceding row to df
#             tmp2.append(preceding_row)
#             #Sort values by start so preceding row is on top
#             tmp2 = tmp2.sort_values(by="start")
#             #Get new intron start and end positions
#             intron_end_lst = [start-1 for start in tmp2["start"].tolist()]
#             end_length = len(intron_end_lst)
#             intron_start_lst = [preceding_row["Intron_start"].iloc[0]] * end_length
#             add_df = pd.DataFrame({"feature": [np.nan]*end_length, "start": [np.nan]*end_length, "end": [np.nan]*end_length,
#                                                       "strand": [np.nan]*end_length,
#                                                       "gene_id": [gene]*end_length, "Next_exon_start": [np.nan]*end_length, 
#                                                        "Intron_start": intron_start_lst,
#                                                       "Intron_stop": intron_end_lst})
#             df_lst.append(add_df)
######################################################################################################################   
    
exons_introns_df = pd.concat(df_lst)
index_names = (exons_introns_df["Intron_start"] < exons_introns_df["Intron_stop"])
exons_introns_df = exons_introns_df.loc[index_names]
exons_introns_df

In [10]:
#Merge dataframes containing all the necessary information to create a gtf file
to_merge_df = genes_df[["seqname", "source", "feature", "strand", "frame", "gene_id", "gene_name"]]
to_merge_df = to_merge_df[to_merge_df["feature"] == "exon"].drop(columns="feature")
to_merge_df = to_merge_df.drop_duplicates()
to_merge_df

       seqname   source strand frame  gene_id gene_name
0         chr1  unknown      +     .  DDX11L1   DDX11L1
78313     chr1  unknown      +     .     GJC2      GJC2
78307     chr1  unknown      +     .     GUK1      GUK1
78318     chr1  unknown      +     .    IBA57     IBA57
78334     chr1  unknown      +     .    OBSCN     OBSCN
...        ...      ...    ...   ...      ...       ...
863499    chrY  unknown      +     .   CD99P1    CD99P1
863504    chrY  unknown      +     .     CD99      CD99
863548    chrY  unknown      +     .    XGPY2     XGPY2
863454    chrY  unknown      -     .    DHRSX     DHRSX
863467    chrY  unknown      -     .    ZBED1     ZBED1

[25266 rows x 6 columns]

In [11]:
#Create dataframe only containing introns and format as a gtf file
introns_df = pd.DataFrame({"start": exons_introns_df["Intron_start"].tolist(), "end": exons_introns_df["Intron_stop"].tolist(), 
                          "gene_id": exons_introns_df["gene_id"].tolist()})
introns_df["feature"] = "intron"
introns_df["score"] = "."
introns_df["transcript_id"] = np.nan
introns_df["tss_id"] = np.nan
introns_df["p_id"] = np.nan
introns_df = introns_df.merge(to_merge_df, on="gene_id", how="left")
introns_df = introns_df[["seqname", "source", "feature", "start", "end", "score", "strand", "frame", "gene_id",
                       "gene_name", "transcript_id", "tss_id", "p_id"]]
introns_df["frame"] = "."
introns_df.replace(np.nan, "", inplace=True)
introns_df

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_name,transcript_id,tss_id,p_id
0,chr19,unknown,intron,58858396,58858718,.,-,.,A1BG,A1BG,,,
1,chr19,unknown,intron,58859007,58861735,.,-,.,A1BG,A1BG,,,
2,chr19,unknown,intron,58862018,58862756,.,-,.,A1BG,A1BG,,,
3,chr19,unknown,intron,58863054,58863648,.,-,.,A1BG,A1BG,,,
4,chr19,unknown,intron,58863922,58864293,.,-,.,A1BG,A1BG,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286152,chr1,unknown,intron,78050341,78097534,.,-,.,ZZZ3,ZZZ3,,,
286153,chr1,unknown,intron,78099091,78105133,.,-,.,ZZZ3,ZZZ3,,,
286154,chr1,unknown,intron,78105288,78107068,.,-,.,ZZZ3,ZZZ3,,,
286155,chr1,unknown,intron,78107132,78107206,.,-,.,ZZZ3,ZZZ3,,,
286156,chr1,unknown,intron,78107341,78148269,.,-,.,ZZZ3,ZZZ3,,,

In [12]:
#Create the final dataframe
final_df = pd.concat([genes_df, introns_df])
final_df

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_name,transcript_id,tss_id,p_id
0,chr1,unknown,exon,11874,12227,.,+,.,DDX11L1,DDX11L1,NR_046018,TSS14844,
75545,chr1,unknown,CDS,216497510,216497694,.,-,0,USH2A,USH2A,NM_206933,TSS27031,P4249
75548,chr1,unknown,CDS,216498647,216498941,.,-,1,USH2A,USH2A,NM_007123,TSS27031,P5706
75549,chr1,unknown,CDS,216498647,216498941,.,-,1,USH2A,USH2A,NM_206933,TSS27031,P4249
75552,chr1,unknown,CDS,216500933,216500996,.,-,2,USH2A,USH2A,NM_007123,TSS27031,P5706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286152,chr1,unknown,intron,78050341,78097534,.,-,.,ZZZ3,ZZZ3,,,
286153,chr1,unknown,intron,78099091,78105133,.,-,.,ZZZ3,ZZZ3,,,
286154,chr1,unknown,intron,78105288,78107068,.,-,.,ZZZ3,ZZZ3,,,
286155,chr1,unknown,intron,78107132,78107206,.,-,.,ZZZ3,ZZZ3,,,
286156,chr1,unknown,intron,78107341,78148269,.,-,.,ZZZ3,ZZZ3,,,

In [13]:
#Output final dataframe as a gtf file
age.writeGTF(final_df,"./genes_w_introns.gtf")

/Users/sahil/Documents/Rotations/Britt_Glaunsinger/Michaels_project/gtf.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attribute']=""
/Users/sahil/Documents/Rotations/Britt_Glaunsinger/Michaels_project/gtf.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attribute']=df['attribute']+c+' "'+inGTF[c].astype(str)+'"; '
/Users/sahil/Documents/Rotations/Britt_Glaunsinger/Michaels_project/gtf.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attribute']=df['attribute']+c+' "'+inGTF[c].astype(str)+'";'